samples/tran-stitch/tnt-msg-activity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>
            This schema defines the format of XML messages to use in reporting messaging server
            activity (operations, events, etc.) for processing by jKool LLC TNT4J-Streams
            built-in XML Messaging Activity Parser.
        </xs:documentation>
    </xs:annotation>

    <!-- Definition for Data Formats -->
    <xs:simpleType name="DataFormats">
        <xs:restriction base="xs:string">
            <xs:enumeration value="base64Binary">
                <xs:annotation>
                    <xs:documentation>
                        Data is binary, in base64 encoding
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="hexBinary">
                <xs:annotation>
                    <xs:documentation>
                        Data is binary, represented as a hex string
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="string">
                <xs:annotation>
                    <xs:documentation>
                        Data is a string of characters
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Precision of durations and numeric timestamps -->
    <xs:simpleType name="TimeUnits">
        <xs:annotation>
            <xs:documentation>
                Set of internally-supported precision units for field data.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Seconds"/>
            <xs:enumeration value="Milliseconds"/>
            <xs:enumeration value="Microseconds"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Definition for date/time fields -->
    <xs:complexType name="DateTimestamp">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="datatype" use="optional" default="Timestamp">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="DateTime">
                                <xs:annotation>
                                    <xs:documentation>
                                        Value is a date, time, or date/time expression with a specific format.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="Timestamp">
                                <xs:annotation>
                                    <xs:documentation>
                                        Value is a numeric value representing a date/time in the specified resolution.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="format" type="xs:string" use="optional"/>
                <xs:attribute name="units" type="TimeUnits" use="optional" default="Milliseconds"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Definition for data fields -->
    <xs:complexType name="DataField">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="format" type="DataFormats" use="optional" default="string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Root of activity tree -->
    <xs:element name="messaging_operation">
        <xs:complexType>
            <xs:all>
                <xs:element name="ApplName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Name of application associated with the activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="CompCode" type="xs:nonNegativeInteger" minOccurs="0" default="0">
                    <xs:annotation>
                        <xs:documentation>
                            Completion code for the activity (MQCC_ value for WMQ operation).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="Correlator" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Identifier used to correlate/relate activity entries to group them into logical tasks.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ElapsedTime" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Elapsed time of the activity in specified units (default: microseconds).
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:nonNegativeInteger">
                                <xs:attribute name="units" type="TimeUnits" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>

                <xs:element name="EndTime" type="DateTimestamp" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            End time of the activity, in specified format.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ErrorMsg" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Error/exception message associated with the activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgData" type="DataField" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Message data (payload).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgFormat" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Message format (value from MQMD.Format for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgId" type="DataField" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Message identifier (value from MQMD.MsgId for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgPutApplName" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Name of application that put the message (value from MQMD.PutApplName for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgPutApplType" type="xs:nonNegativeInteger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Type of application that put the message (MQAT_ value from MQMD.PutApplType for WMQ
                            message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgPutDate" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            GMT date the message was put (value from MQMD.PutDate for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgPutTime" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            GMT time the message was put (value from MQMD.PutTime for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgType" type="xs:nonNegativeInteger" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Type of message (MQMT_ value from MQMD.MsgType for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="MsgUser" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Name of user originating message (value from MQMD.UserIdentifier for WMQ message).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ObjectName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Name of object (queue, topic, etc.) associated with the activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ObjectType" type="xs:nonNegativeInteger">
                    <xs:annotation>
                        <xs:documentation>
                            Type of Object (MQOT_ value for WMQ operation) associated with the activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="OperationName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            String identifying the operation (e.g. function/method name)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ReasonCode" type="xs:integer" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Numeric reason/error code associated with the activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ResMgr" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Name of resource manager owning object associated with the activity (queue manager name for
                            WMQ operation).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ServerIp" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            IP Address of server where activity occurred.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ServerName" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Host name of server where activity occurred.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="ServerOs" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            String identifying information (e.g. type, version) about operating system on server where
                            activity occurred.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="StartTime" type="DateTimestamp" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Start time of the activity, in specified format.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="Tag" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            User-defined label to associate with the activity, generally for locating activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="UserName" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Name of user associated with the activity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
